<h1>{{name}}</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Metodo:</td>
  <dd>{{getHeroDes()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>

</dl>

<button
  *ngIf="name!=='Spiderman'"
  (click)="changeName()"
  class="btn btn-primary mx-2" >
  Cambiar Nombre
</button>
<button
*ngIf="age==23 && name==='Spiderman'"
(click)="resetForm()"
class="btn btn-primary ">
  Reset Form
</button>
<button
*ngIf="age!=23"
(click)="changeAge()"
class="btn btn-primary ">
  Cambiar Edad
</button>
